@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {

  background-size:     cover;
  background-repeat:   repeat-y;
  background-position: center center;
  background-image: url("test.png");
  background-size:cover;
  background-color: #252931;

  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color:#D5DDE5;


}
form {
    display: inline-block; //Or display: inline;
}

select {
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    background-color: white;
}

.button_overlay{

	width: 70%;
	border-collapse: collapse;
	margin: auto;
}

input[type=submit]{
    margin: 8px;
    padding: 5px 5px;
    text-decoration: none;
    cursor: pointer;
	background-color: #0B0A0A;
	color: white;
	border: 3px solid #0B0A0A;
	font-weight: bold;
	border-radius: 4px;
}


button{
    margin: 3px;
    padding: 2px 2px;
    text-decoration: none;
    cursor: pointer;
	background-color:#0B0A0A;
	color: white;
	border: 3px solid #0B0A0A;
	font-weight: bold;
	border-radius: 4px;
}

form{
    float: middle;
    padding:10px;
}

input[type=text]{
	font-family: "Roboto", helvetica, arial, sans-serif;
    background-color: white;
    border: none;
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 4px;
}

input[type=text]:focus{
box-shadow: 0 0 2px 2px red;
}

/*** Table Styles **/


a{
	color:white;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 table, h1, p {
	 width: 70%;
	 border-collapse: collapse;
	 margin: auto;
 }

 table.sortable thead {
    cursor: default;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

th {
  color:#D5DDE5;
  background:#1b1e24;
  border-bottom:4px solid red;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:20px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;

}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {

  background:#FFFFFF;
  padding:6px;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
